<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">  
    <link rel="stylesheet" href="../stylesheets/contacts.css">  
    <link rel="stylesheet" href="../stylesheets/delivery.css"> 
</head>
<body>
    <header>
        <div class="main-overlay">
            <div class="main">
                <div class="header">
                    <div class="logo">
                        <a class="a" href="/"><img src="images/scientific_research.png" width="50px" height="50px" alt="picture" title="project"><span class="edu">Food Delivery</span></a>
                    </div>
                    <div class="burg">
                        <span class="ite"></span>
                        <span class="ite"></span>
                        <span class="ite"></span>
                        
                    </div>
                    <nav class="menu">
                            <ul>
                                <li class="menu-item"><a href="/">Головна</a></li>
                                <li class="menu-item">
                                        <a href="/delivery">Кухні</a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item"><a href="/delivery">Французька</a></li>
                                            <li class="sub-menu-item"><a href="/delivery">Італійська</a></li>
                                            <li class="sub-menu-item"><a href="/delivery">Українська</a></li>
                                            <li class="sub-menu-item"><a href="/delivery">Японська</a></li>
                                        </ul>
                                    </li>
                                <li class="menu-item">
                                        <a href="/gallery">Галерея</a>
                                </li>
                                <li class="menu-item">
                                        <a href="/contact">Контакти</a>
                                    </li>
                            </ul>
                        </nav>
                        <div class="search">                
                            <!-- <input type="text" id="search-input">
                            <button id="search-btn">Пошук</button> -->
                            <input class="place_for_search" type="text" id="text-to-find" value="" placeholder="Search" autofocus> 
                            <input class="button_for_turn_back" type="button" onclick="javascript: FindOnPage('text-to-find',false); return false;" value=" " title="Отменить поиск">
                            <input class="button_for_search" type="submit" onclick="javascript: FindOnPage('text-to-find',true); return false;" value=" " title="Начать поиск">
                        </div>
                    <div class="container-counter">0</div> 
                    <div class="container-cart">
                        <div class="cart-close"></div>
                    </div>  
            </div>
        </div> 
    </div>
</header>
    <section >
        <div class="map"> 
            <div id="map">

            </div>
        </div>
        <div class="contacts">
            <div class="phone">
                <h3 class="contact">Наш телефон: 380680000000</h3>
            </div>
            <div class="mail">
                <h3 class="contact">Наш E-mail: <a href="mailto:food_delivery@fd.com" >food_delivery@fd.com</a> </h3>
            </div>
        </div>
    </section>
<footer class="footer">
        <div class="main">
            <div class="header for-footer">
                <div class="logo">
                    <img src="../images/scientific_research.png" width="50px" height="50px" title="footer logo" alt=""><span class="edu">Food Delivery</span>
                </div>
                <div class="foot-menu">
                    <ul>
                        <li><a href="/" class="menu-link">Головна</a></li>
                        <li><a href="/gallery" class="menu-link">Галерея</a></li>
                        <li><a href="/contact" class="menu-link">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjOHbtuGOX7Sv0ksQx4EnvHqge2itCKbc&callback=initMap"async defer></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/productsCreateElement.js"></script>
    <script src="/javascripts/localStorage.js"></script>
    <script src="/javascripts/productsCart.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/basketCart.js"></script>
</body>

</html>