<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="../stylesheets/delivery.css">
        <link rel="stylesheet" href="../stylesheets/style.css">  
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div class="mainOverlay">
                <div class="main">
                    <div class="header">
                    <div class="logo">
                        <a class="a" href="/"><span class="nameFD">Food Delivery</span></a>
                    </div>
                    <div class="burg">
                            <span class="burgItem"></span>
                            <span class="burgItem"></span>
                            <span class="burgItem"></span>
                    </div>
                    <nav class="menu">
                        <ul>
                            <li class="menuItem"><a href="/">Головна</a></li>
                            <li class="menuItem"><a href="/delivery">Кухні</a>
                                <ul class="subMenu">
                                    <li class="subMenuItem"><a href="/delivery?params=23">Французька</a></li>
                                    <li class="subMenuItem"><a href="/delivery?params=21">Італійська</a></li>
                                    <li class="subMenuItem"><a href="/delivery?params=22">Українська</a></li>
                                    <li class="subMenuItem"><a href="/delivery?params=24">Японська</a></li>
                                </ul>
                            </li>
                            <li class="menuItem"><a href="/gallery">Галерея</a></li>
                            <li class="menuItem"><a href="/contact">Контакти</a></li>
                        </ul>
                    </nav>
                    <div class="search">                
                        <input class="placeForSearch btnSearch" type="text" id="textToFind" value="" placeholder="Search" autofocus> 
                        <input class="buttonForTurnBack btnSearch" type="button" onclick="javascript: FindOnPage('textToFind',false); return false;" value=" Відміна " title="Отменить поиск">
                        <input class="buttonForSearch btnSearch" type="submit" onclick="javascript: FindOnPage('textToFind',true); return false;" value=" Пошук " title="Начать поиск">
                    </div>
                    <div class="containerCounter">0</div> 
                    <div class="containerCart containerComplex">
                        <div class="cartClose"></div>
                    </div>  
                    </div>
                </div> 
            </div>
        </header>
        <section>
            <div class="filter">
                <form name="Filter" action="#">
                    <input type="checkbox"id="11"  name="mon" class="filterCheckbox">
                    <label for="11">Понеділок</label><br>
                    <input type="checkbox"id="12"  name="tue" class="filterCheckbox">
                    <label for="12">Вівторок</label><br>
                    <input type="checkbox"id="13"  name="wed" class="filterCheckbox ">
                    <label for="13">Середа</label><br>
                    <input type="checkbox"id="14"  name="thu" class="filterCheckbox ">
                    <label for="14">Четверг</label><br>
                    <input type="checkbox"id="15"  name="fri" class="filterCheckbox ">
                    <label for="15">П'ятниця</label><br>
                    <input type="checkbox"id="16"  name="sat" class="filterCheckbox ">
                    <label for="16">Субота</label><br>
                    <input type="checkbox"id="17"  name="sun" class="filterCheckbox ">
                    <label for="17">Неділя</label><br><br>
                    
                    <input type="checkbox"id="21"  name="ita" class="filterCheckbox ">
                    <label for="21">Італійська</label><br>
                    <input type="checkbox"id="22"  name="ukr" class="filterCheckbox ">
                    <label for="22">Українська</label><br>
                    <input type="checkbox"id="23"  name="fra" class="filterCheckbox ">
                    <label for="23">Французька</label><br>
                    <input type="checkbox"id="24"  name="jap" class="filterCheckbox ">
                    <label for="24">Японська</label><br><br>
                            
                    <input type="checkbox"id="31"  name="sal" class="filterCheckbox ">
                    <label for="31">Салати</label><br>
                    <input type="checkbox"id="32"  name="gar" class="filterCheckbox ">
                    <label for="32">Гарячі страви</label><br>
                    <input type="checkbox"id="33"  name="des" class="filterCheckbox ">
                    <label for="33">Десерти</label><br>
                    <input type="checkbox"id="34"  name="piz" class="filterCheckbox ">
                    <label for="34">Піца та суші</label><br>
                    <input class="btnSubmit"  type="button" value="submit" onclick="send()">
                    </form>
                    
            </div>
            <input type='hidden' id='currentPage' />
            <input type='hidden' id='showPerPage' />
            <button class="btnSort" id="sortL"> </button> 
            <button class="btnSort" id="sortH"> </button>
            <div class="containerProducts"></div>
            <div id='pageNavigation'></div>
        </section>
        <script src="/javascripts/menu.js"></script>
        <script src="/javascripts/sort.js"></script>
        <script src="/javascripts/pagination.js"></script>
        <script src="/javascripts/data.js"></script>
        <script src="/javascripts/productsCreateElement.js"></script>
        <script src="/javascripts/localStorage.js"></script>
        <script src="/javascripts/productsCart.js"></script>
        <script src="/javascripts/complex.js"></script>
        <script src="/javascripts/search.js"></script>
        <script src="/javascripts/complexInBasket.js"></script>
        <script src="/javascripts/basketCart.js"></script>
        <script>
            function send(){
                var checkedValue = []; 
                var inputElements = document.getElementsByClassName('filterCheckbox');
                
                for(var i=0; inputElements[i]; ++i){
                    if(inputElements[i].checked){                        
                        checkedValue.push(inputElements[i].id);
                    }
                }
               
                var url = '/delivery'
                
                
                
                document.location = url.concat(param(checkedValue))
            }
            
            function param(object)
                {
                    if (object.length > 0){
                        res = encodeURI(object);
                        return `?params=${res}`
                    } else {
                        return '';
                    }
                }
        </script>

        <script>
            window.onload = function(){
                var url = document.location.href;
                console.log(url)
                var re = /=\S*(?!\?params)/;
                var found = re.exec(url);
                console.log(found);
                if(found != null){
                    var newstr = found.replace('=', '');
                    console.log(newstr);
                    console.log('df');
                    
                    var idmass = newstr.split(',');
                    for(var i = 0; i < idmass.length; i++){
                        document.getElementById(idmass[i]).checked = true;
                    }
                }               
            }
        </script>

    </body>
</html>
