<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">  
    <link rel="stylesheet" href="../stylesheets/delivery.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="main-overlay">
            <div class="main">
                <div class="header">
                    <div class="logo">
                        <a class="a" href="/"><img src="images/scientific_research.png" width="50px" height="50px" alt="picture" title="project"><span class="edu">Food Delivery</span></a>
                    </div>
                    <div class="burg">
                        <span class="ite"></span>
                        <span class="ite"></span>
                        <span class="ite"></span>
                        
                    </div>
                    <nav class="menu">
                            <ul>
                                <li class="menu-item"><a href="/">Головна</a></li>
                                <li class="menu-item">
                                        <a href="/delivery">Кухні</a>
                                        <ul class="sub-menu">
                                                <li class="sub-menu-item"><a href="/delivery">Французька</a></li>
                                                <li class="sub-menu-item"><a href="/delivery">Італійська</a></li>
                                                <li class="sub-menu-item"><a href="/delivery">Українська</a></li>
                                                <li class="sub-menu-item"><a href="/delivery">Японська</a></li>
                                        </ul>
                                    </li>
                                <li class="menu-item">
                                        <a href="/gallery">Галерея</a>
                                </li>
                                <li class="menu-item">
                                        <a href="/contact">Контакти</a>
                                    </li>
                            </ul>
                        </nav>
                        <div class="search">                
                            <!-- <input type="text" id="search-input">
                            <button id="search-btn">Пошук</button> -->
                            <input class="place_for_search" type="text" id="text-to-find" value="" placeholder="Search" autofocus> 
                            <input class="button_for_turn_back" type="button" onclick="javascript: FindOnPage('text-to-find',false); return false;" value=" " title="Отменить поиск">
                            <input class="button_for_search" type="submit" onclick="javascript: FindOnPage('text-to-find',true); return false;" value=" " title="Начать поиск">
                        </div>
                    <div class="container-counter">0</div> 
                    <div class="container-cart">
                        <div class="cart-close"></div>
                    </div>  
            </div>
        </div> 
    </div>
    </header>
  
    <div class="filter">
        <form method="POST" action="/delivery" name="Filter">
            <input type="checkbox" value="11" id="checkbox1" name="mon" class="hide">
            <input type="checkbox" value="12" id="checkbox2" name="tue" class="hide">
            <input type="checkbox" value="13" id="checkbox3" name="wed" class="hide">
            <input type="checkbox" value="14" id="checkbox4" name="thu" class="hide">
            <input type="checkbox" value="15" id="checkbox5" name="fri" class="hide">
            <input type="checkbox" value="16" id="checkbox6" name="sat" class="hide">
            <input type="checkbox" value="17" id="checkbox7" name="sun" class="hide">

            <input type="checkbox" value="21" id="checkbox8" name="ita" class="hide">
            <input type="checkbox" value="22" id="checkbox9" name="ukr" class="hide">
            <input type="checkbox" value="23" id="checkbox10" name="fra" class="hide">
            <input type="checkbox" value="24" id="checkbox11" name="jap" class="hide">
            
            <input type="checkbox" value="31" id="checkbox12" name="sal" class="hide">
            <input type="checkbox" value="32" id="checkbox13" name="gar" class="hide">
            <input type="checkbox" value="33" id="checkbox14" name="des" class="hide">
            <input type="checkbox" value="34" id="checkbox15" name="piz" class="hide">
            <input type="button" value="submit" onclick="Filter.submit()">
        </form>
        <label for="checkbox1">Понеділок</label><br>

        <label for="checkbox2">Вівторок</label><br>

        <label for="checkbox3">Середа</label><br>

        <label for="checkbox4">Четверг</label><br>

        <label for="checkbox5">П'ятниця</label><br>

        <label for="checkbox6">Субота</label><br>

        <label for="checkbox7">Неділя</label><br><br>

        <label for="checkbox8">Італійська</label><br>

        <label for="checkbox9">Українська</label><br>

        <label for="checkbox10">Французька</label><br>

        <label for="checkbox11">Японська</label><br><br>

        <label for="checkbox12">Салати</label><br>

        <label for="checkbox13">Гарячі страви</label><br>

        <label for="checkbox14">Десерти</label><br>

        <label for="checkbox15">Піца</label><br>

        </div>

        <input type='hidden' id='current_page' />
<input type='hidden' id='show_per_page' />
    <div class="container-products"></div>
    <div id='page_navigation'></div>
    
    
    <footer class="footer">
        <div class="main">
            <div class="header for-footer">
                <div class="logo">
                    <img src="../images/scientific_research.png" width="50px" height="50px" title="footer logo" alt=""><span class="edu">Food Delivery</span>
                </div>
                <div class="foot-menu">
                    <ul>
                        <li><a href="/" class="menu-link">Головна</a></li>
                        <li><a href="/gallery" class="menu-link">Галерея</a></li>
                        <li><a href="/contact" class="menu-link">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/javascripts/pagination.js"></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/productsCreateElement.js"></script>
    <script src="/javascripts/localStorage.js"></script>
    <script src="/javascripts/productsCart.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/basketCart.js"></script>
</body>

</html>
