<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css"> 
    <link rel="stylesheet" href="../stylesheets/gallery.css"> 
    <link rel="stylesheet" href="../stylesheets/delivery.css">   
</head>
<body>
    <header>
        <div class="main-overlay">
            <div class="main">
                <div class="header">
                    <div class="logo">
                      <a class="a" href="/"><img src="images/scientific_research.png" width="50px" height="50px" alt="picture" title="project"><span class="edu">Food Delivery</span></a>
                    </div>
                    <div class="burg">
                        <span class="ite"></span>
                        <span class="ite"></span>
                        <span class="ite"></span>
                        
                    </div>
                    <nav class="menu">
                <ul>
                    <li class="menu-item"><a href="/">Головна</a></li>
                    <li class="menu-item">
                            <a href="/delivery">Кухні</a>
                            <ul class="sub-menu">
                                <li class="sub-menu-item"><a href="/delivery">Французька</a></li>
                                <li class="sub-menu-item"><a href="/delivery">Італійська</a></li>
                                <li class="sub-menu-item"><a href="/delivery">Українська</a></li>
                                <li class="sub-menu-item"><a href="/delivery">Японська</a></li>
                            </ul>
                        </li>
                    <li class="menu-item">
                            <a href="/gallery">Галерея</a>
                    </li>
                    <li class="menu-item">
                            <a href="/contact">Контакти</a>
                        </li>
                </ul>
            </nav>
            <div class="search">                
              <!-- <input type="text" id="search-input">
              <button id="search-btn">Пошук</button> -->
              <input class="place_for_search" type="text" id="text-to-find" value="" placeholder="Search" autofocus> 
              <input class="button_for_turn_back" type="button" onclick="javascript: FindOnPage('text-to-find',false); return false;" value=" " title="Отменить поиск">
              <input class="button_for_search" type="submit" onclick="javascript: FindOnPage('text-to-find',true); return false;" value=" " title="Начать поиск">
          </div>
                    <div class="container-counter">0</div> 
                    <div class="container-cart">
                        <div class="cart-close"></div>
                    </div>       
            </div>
        </div> 
    </div>
    </header>
   
    <h2 style="text-align:center">Галерея</h2>

<div class="container">
  <div class="mySlides">
    <img src="../images/slide1.jpg" style="width: 33%;">
  </div>

  <div class="mySlides">
    <img src="../images/slide2.jpg" style="width:33%">
  </div>

  <div class="mySlides">
    <img src="../images/slide3.jpg" style="width:33%">
  </div>
    
  <div class="mySlides">
    <img src="../images/slide4.jpg" style="width:33%">
  </div>

  <div class="mySlides">
    <img src="../images/slide5.jpg" style="width:33%">
  </div>
    
  <div class="mySlides">
    <img src="../images/slide6.jpg" style="width:33%">
  </div>
  <div class="mySlides">
    <img src="../images/slide1.jpg" style="width: 33%;">
  </div>

  <div class="mySlides">
    <img src="../images/slide2.jpg" style="width:33%">
  </div>

  <div class="mySlides">
    <img src="../images/slide3.jpg" style="width:33%">
  </div>
    
  <div class="mySlides">
    <img src="../images/slide4.jpg" style="width:33%">
  </div>

  <div class="mySlides">
    <img src="../images/slide5.jpg" style="width:33%">
  </div>
    
  <div class="mySlides">
    <img src="../images/slide6.jpg" style="width:33%">
  </div>
    
  <a class="prev" onclick="minusSlides()">&#10094;</a>
  <a class="next" onclick="plusSlides()">&#10095;</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="../images/slide1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Українська кухня">
    </div>
    <div class="column">
      <img class="demo cursor" src="../images/slide2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Італійська кухня">
    </div>
    <div class="column">
      <img class="demo cursor" src="../images/slide3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Французька кухня">
    </div>
    <div class="column">
      <img class="demo cursor" src="../images/slide4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Японська кухня">
    </div>
    <div class="column">
      <img class="demo cursor" src="../images/slide5.jpg" style="width:100%" onclick="currentSlide(5)" alt="Китайська кухня">
    </div>    
    <div class="column">
      <img class="demo cursor" src="../images/slide6.jpg" style="width:100%" onclick="currentSlide(6)" alt="Індійська кухня">
    </div>
     <div class="column">
      <img class="demo cursor" src="../images/slide1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Українська кухня">
    </div>
    <div class="column">
      <img class="demo cursor" src="../images/slide2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Італійська кухня">
    </div>
    <div class="column">
      <img class="demo cursor" src="../images/slide3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Французька кухня">
    </div>
    <div class="column">
      <img class="demo cursor" src="../images/slide4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Японська кухня">
    </div>
    <div class="column">
      <img class="demo cursor" src="../images/slide5.jpg" style="width:100%" onclick="currentSlide(5)" alt="Китайська кухня">
    </div>    
    <div class="column">
      <img class="demo cursor" src="../images/slide6.jpg" style="width:100%" onclick="currentSlide(6)" alt="Індійська кухня">
    </div>
  </div>
</div>

<footer class="footer">
        <div class="main">
            <div class="header for-footer">
                <div class="logo">
                    <img src="../images/scientific_research.png" width="50px" height="50px" title="footer logo" alt=""><span class="edu">Food Delivery</span>
                </div>
                <div class="foot-menu">
                    <ul>
                      <li><a href="/" class="menu-link">Головна</a></li>
                      <li><a href="/gallery" class="menu-link">Галерея</a></li>
                      <li><a href="/contact" class="menu-link">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="/javascripts/gallery.js"></script>
<script src="/javascripts/data.js"></script>
<script src="/javascripts/productsCreateElement.js"></script>
<script src="/javascripts/localStorage.js"></script>
<script src="/javascripts/productsCart.js"></script>
<script src="/javascripts/search.js"></script>
<script src="/javascripts/basketCart.js"></script>
</html>