<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="styles/delivery.css">  -->
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    
</head>
<body>
    <header>
        <div class="main-overlay">
            <div class="main">
                <div class="header">
                    <div class="logo">
                        <a class="a" href="/"><img src="images/scientific_research.png" width="50px" height="50px" alt="picture" title="project"><span class="edu">Food Delivery</span></a>
                    </div>
                    <div class="burg">
                        <span class="ite"></span>
                        <span class="ite"></span>
                        <span class="ite"></span>
                        
                    </div>
                    <nav class="menu">
                <ul>
                    <li class="menu-item"><a href="/">Головна</a></li>
                    <li class="menu-item">
                            <a href="/delivery">Кухні</a>
                            <ul class="sub-menu">
                                    <li class="sub-menu-item"><a href="pages/dishes.html">Французька</a></li>
                                    <li class="sub-menu-item"><a href="pages/dishes.html">Італійська</a></li>
                                    <li class="sub-menu-item"><a href="pages/dishes.html">Українська</a></li>
                                    <li class="sub-menu-item"><a href="pages/dishes.html">Японська</a></li>
                            </ul>
                        </li>
                    <li class="menu-item">
                            <a href="/gallery">Галерея</a>
                    </li>
                    <li class="menu-item">
                            <a href="/contact">Контакти</a>
                        </li>
                </ul>
            </nav>
                    <div class="search">                
                        <!-- <input type="text" id="search-input">
                        <button id="search-btn">Пошук</button> -->
                        <input class="place_for_search" type="text" id="text-to-find" value="" placeholder="Search" autofocus> 
                        <input class="button_for_turn_back" type="button" onclick="javascript: FindOnPage('text-to-find',false); return false;" value=" " title="Отменить поиск">
                        <input class="button_for_search" type="submit" onclick="javascript: FindOnPage('text-to-find',true); return false;" value=" " title="Начать поиск">
                    </div>
                    <div class="container-counter">0</div> 
                    <div class="container-cart">
                        <div class="cart-close"></div>
                    </div>  
            </div>
            <div class="slider">
                    <div class="item-slider">
                        <img src="images/slide1.jpg" alt="Первый слайд">
                        <div class="slideText">
                                <div class="text">Українська кухня</div>
                            <div class="slideBtn"> <button class="header-btn">Перейти</button></div>
                               
                        </div>
                    </div>
                
                    <div class="item-slider">
                        <img src="images/slide2.jpg" alt="Второй слайд">
                        <div class="slideText">
                                <div class="text">Італійська кухня</div>
                                <div class="slideBtn"> <button class="header-btn">Перейти</button></div>
                        </div>
                    </div>
                
                    <div class="item-slider">
                        <img src="images/slide3.jpg" alt="Третий слайд">
                        <div class="slideText">
                                <div class="text">Французька кухня</div>
                                <div class="slideBtn"> <button class="header-btn">Перейти</button></div>
                        </div>
                    </div> 
                    <div class="item-slider">
                            <img src="images/slide4.jpg" alt="Первый слайд">
                            <div class="slideText">
                                <div class="text">Японська кухня</div>
                                    <div class="slideBtn"> <button class="header-btn">Перейти</button></div>
                            </div>
                        </div>
                    
                        <div class="item-slider">
                            <img src="images/slide5.jpg" alt="Второй слайд">
                            <div class="slideText">
                                    <div class="text">Індійська кухня</div>
                                    <div class="slideBtn"> <button class="header-btn">Перейти</button></div>
                            </div>
                        </div>
                    
                        <div class="item-slider">
                            <img src="images/slide6.jpg" alt="Третий слайд">
                            <div class="slideText">
                                 <div class="text">Китайська кухня</div>
                                    <div class="slideBtn"> <button class="header-btn">Перейти</button></div>
                            </div>
                        </div>           
                    <a class="prev" onclick="minusSlide()">&#10094;</a>
                    <a class="next" onclick="plusSlide()">&#10095;</a>
                </div>
                
                <div class="slider-dots">
                    <span class="slider-dots_item" onclick="currentSlide(1)"></span> 
                    <span class="slider-dots_item" onclick="currentSlide(2)"></span> 
                    <span class="slider-dots_item" onclick="currentSlide(3)"></span>
                    <span class="slider-dots_item" onclick="currentSlide(4)"></span> 
                    <span class="slider-dots_item" onclick="currentSlide(5)"></span> 
                    <span class="slider-dots_item" onclick="currentSlide(6)"></span>  
                </div>
            </div> 
      
    </div>
    </header>




<div class="container-complex"></div> 

    <section >
         
        <div class="complexDinner">
                <div class="complex-header">
                    <h2>Оберіть свій комплесний обід</h2>
               </div> 
               <div class="complex-button">
                    <button class='complex-btn'>Збери сам</button>   
               </div>
        </div>
           
               
    </section>



















    <footer class="footer">
        
        <div class="main">
                <div class="header for-footer">
                        <div class="logo">
                            <img src="images/scientific_research.png" width="50px" height="50px" title="footer logo" alt=""><span class="edu">Food Delivery</span>
                        </div>
                        <div class="foot-menu">
                            <ul>
                                <li><a href="/" class="menu-link">Головна</a></li>
                                <li><a href="/gallery" class="menu-link">Галерея</a></li>
                                <li><a href="/contact" class="menu-link">Контакти</a></li>
                            </ul>
                        </div>
                    </div>
        
    </div>
       
</footer>
</body>
    <script src="/javascripts/slider.js"></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/productsCreateElement.js"></script>
    <script src="/javascripts/localStorage.js"></script>
    <script src="/javascripts/productsCart.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/basketCart.js"></script>
</html>