/* basket */
.filter{
	/* width: 200px; */
	height: 700px;
	/* float: right; */
	margin-top: 200px;
	position: fixed;
	margin-left: 40px;
}

.hide{
	display: none;
}
.first, .second, .third{
	text-align: center;
}

.first>a, .second>a, .third>a{
	padding-top: 5px;
	color: gray;
	text-decoration: none;
}

.first>a:hover, .second>a:hover, .third>a:hover{
	padding-top: 5px;
	color: #000;
	text-decoration: none;
}

.container-products {
	margin-left: 250px;
	display: flex;
    flex-wrap: wrap;
}
.item {
	width: 270px;
	margin: 10px;
	padding: 15px 30px;
	border-radius: .25rem;
	box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
.name {
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0px;
}
.img {
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    filter: grayscale(50%);
}
.price {
	padding: 15px 0px;
	color: grey;
}
.btn {
	padding: 10px 15px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid grey;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
}

.btn-active{
	border: 1px solid transparent;
	background: #000;
    color: #fff;
}

.container-counter {
	flex-shrink: 0;
	width: 50px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../images/sale.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	margin: 5px;
}

.container-cart {
	overflow: scroll;
	color: #000;
	display: none;
	align-items: flex-start;
	position: fixed;
	width: 97%;
	height: 90vh;
	background: #fff;
	box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin: auto;
    flex-wrap: wrap;
    z-index:99999999;  
}

.cart-close {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	right: 20px;
	background-image: url(../images/cancel.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}

 





/* footer */
.footer{
    color: #fff;
    background-color: black;
    height: 3.4rem;
    width: 100%;
}
